:root {
  --text-color: #ffffff;
  --navbar-background-color: #333333;
  --background-color: #ffffff;
  --accent-color: orange;
  --button-color: #bbbbbb;
  --color-green: rgb(30, 224, 39);
  --color-red: rgb(245, 37, 22);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--navbar-background-color);
}

.navbar-logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar-logo i {
  color: var(--accent-color);
  padding: 8px 12px;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar-list li {
  padding: 8px 12px;
}

.navbar-list li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar-icon {
  display: flex;
  color: var(--text-color);
  padding-left: 0;
}

.navbar-icon i {
  font-size: 24px;
  padding: 8px 12px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  color: var(--accent-color);
}

.img-container {
  width: 888px;
  margin: auto;
  padding-top: 20px;
  overflow: hidden;
}

.img-slide {
  display: flex;
  width: 100%;
  height: 500px;
  transition: transform 0.4s ease-in-out;
}

.img-number {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
}

.img-prob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.probBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  /* border: 1px solid black; */
}

.answer {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.answer-input {
  width: 50%;
  font-size: 2rem;
  border: none;
  background-color: var(--button-color);
  color: black;
}

.answer i {
  color: black;
  font-size: 2rem;
  padding: 0.2rem;
  background-color: var(--button-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.answer i:hover {
  background-color: var(--color-green);
  color: white;
}

#prevBtn {
  position: absolute;
  top: 480px;
  z-index: 10;
  left: 550px;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 480px;
  z-index: 10;
  right: 550px;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    right: 32px;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar-list li {
    width: 100%;
    text-align: center;
  }

  .navbar-icon {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar-icon.active,
  .navbar-list.active {
    display: flex;
  }
}
